@use "../variables/" as v;

.enlarge-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;

  .enlarge-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 90%;
    max-height: 90%;

    .close-btn {
      background: transparent;
      text-align: right;

      svg {
        scale: 1.6;

        path {
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .close-btn:hover svg path {
      fill: var(--orange);
    }

    .image-wrapper {
      position: relative;

      .enlarged-img {
        max-width: 35rem;
        max-height: 35rem;
        border-radius: 1rem;
      }

      .carousel-btns {
        @include v.carousel-btns;
      }
    }
  }

  .thumbnail-carousel {
    @include v.thumbnail-carousel;
  }
}
