@use '../variables/' as v;

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    max-width: 68.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7.5rem;
    padding: 5.25rem 3.75rem;

    @include v.breakpoint('xlarge') {
      gap: 5rem;
    }

    @include v.breakpoint(large) {
      max-width: 26.5rem;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 0;
      padding-bottom: 5rem;
    }

    @include v.breakpoint(small) {
      gap: 1rem;
      padding: 0;
      padding-bottom: 5rem;
    }
  }
}
