@use "../variables/" as v;

.main-right {
  @include v.breakpoint(small) {
    padding-inline: 1.5rem;
  }

  .product-info {
    margin-bottom: 1.5rem;

    .company {
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.09rem;
      color: var(--dark-grayish-blue);

      @include v.breakpoint(small) {
        font-size: 0.75rem;
      }
    }

    h1 {
      margin-top: 1rem;
      margin-bottom: 2.5rem;

      @include v.breakpoint(large) {
        margin-bottom: 1.5rem;
      }

      @include v.breakpoint(small) {
        font-size: 1.75rem;
        margin-bottom: 1rem;
      }
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include v.breakpoint(large) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  @include v.breakpoint('xlarge') {
    grid-template-columns: 1fr;
  }

  @include v.breakpoint(large) {
    grid-template-columns: 1fr 1fr;
  }

  @include v.breakpoint(small) {
    grid-template-columns: 1fr;
  }

  .quantity-btn {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 2.75rem;
    background: hsla(220, 14%, 75%, 0.15);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    @include v.breakpoint('xlarge') {
      width: 100%;
      justify-content: space-between;
    }

    @include v.breakpoint(small) {
      width: 100%;
      justify-content: space-between;
    }

    button {
      display: flex;
      align-items: center;
      background: transparent;
      transition: all 0.3s ease-in-out;

    }

    button:hover {
      opacity: 0.6;
    }

    .current-quantity {
      width: 20px;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .add-btn {
    width: 100%;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    background: var(--orange);
    color: var(--very-dark-blue);
    border-radius: 0.5rem;
    padding-block: 1rem;
    transition: all 0.3s ease-in-out;

    @include v.breakpoint(small) {
      max-width: 100%;
    }

    .cart-icon {
      scale: 0.75;
    }

    .cart-icon path {
      fill: var(--very-dark-blue);
    }
  }

  .add-btn:hover {
    background: hsla(26, 100%, 55%, 0.6);
  }
}
