@use "../variables/" as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--white);
  padding-inline: 9rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include v.breakpoint("xlarge") {
    padding-inline: 3rem;
  }

  @include v.breakpoint(large) {
    padding-inline: 0;
  }

  @include v.breakpoint(small) {
    padding-inline: 0;
  }
}
